<template name="home">
{{> navbarloggedin}}  
 <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"><br>
        </li>
        <li data-target="#myCarousel" data-slide-to="1"><br>
        </li>
        <li data-target="#myCarousel" data-slide-to="2"><br>
        </li>
      </ol>
      <!-- Wrapper for Slides -->
      <div class="carousel-inner">
        <div class="item active">
          <!-- Set the first background image using inline CSS below. -->
          <div class="fill" style="background-image:url('pilot.jpg');"></div>
          <div class="carousel-caption">
            <h2>For Pilots</h2>
          </div>
        </div>
        <div class="item">
          <!-- Set the second background image using inline CSS below. -->
          <div class="fill" style="background-image:url('vineyard.jpg');"></div>
          <div class="carousel-caption">
            <h2>Agriculture Customers</h2>
          </div>
        </div>
        <div class="item">
          <!-- Set the third background image using inline CSS below. -->
          <div class="fill" style="background-image:url('bridgeinspection.jpg');"></div>
          <div class="carousel-caption">
            <h2>Inspection Customers</h2>
          </div>
        </div>
      </div>
      <!-- Controls --> <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span> </a> <a class="right carousel-control"

        href="#myCarousel" data-slide="next"> <span class="icon-next"></span> </a>
    </header>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        </div>
      </div>
      <hr>
      <hr>

      <footer>
        <div class="row">
          <div class="col-lg-12" align="center">
            <a href="https://itunes.apple.com"><img src="appstorelogo.png" /></a> <a href="https://play.google.com"><img src="playstorelogo.png" /></a>
            <br>
            <p style="text-align: center">Copyright © Your Website 2014</p>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
</template>